@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --colorPrimary: #0c0a09;
        --colorSecondary: #a3a3a3;
        --colorAccent: #e7e5e4;
      
}



}

body{

    font-family: "Poppins", serif;

}


.logo{

    font-family: "Dancing Script", serif;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 800;
    

}

button{
    @apply border border-accent rounded-md px-6 py-2 bg-stone-300
}

button:hover{
    @apply border border-accent bg-white text-secondary transition duration-700 ease-in-out
}


/* text */
.text-title{
    @apply text-2xl
}

.text--main{
    @apply text-xs
}

.text--accent{
    @apply text-lg font-semibold
}

.text-subtitle{
    @apply text-sm
}
.text--secondary{
    @apply text-secondary text-sm 
}


.text--small--bold{
    @apply text-sm font-semibold text-secondary
}
/* hover */
.navbar--content li{
    @apply hover:bg-accent  rounded-md transition duration-150 ease-in-out

}

/* icon */
.icon--item{
    @apply mr-4 text-xl
}
.icon--item{
    @apply hover:cursor-pointer
}


/* hr--item */
.hr--item{
    @apply mt-5 w-full
}

/* input */



.ant-btn {
    background-color: var(--colorAccent); /* Xóa nền */
    /* border: none; Xóa viền */
    /* box-shadow: none; Xóa shadow */
    color: var(--colorSecondary);
}
.ant-btn:hover{
    background-color: var(--colorSecondary) !important;
    color: #e7e5e4 !important;
}
.ant-btn:focus {
    /* border-color: var(--colorSecondary);  */
    box-shadow: var(--colorAccent);
    /* background-color: transparent;  */
  }
  

/* Ghi đè cho tất cả các input có lớp .ant-input */
.ant-input:focus {
    outline: none !important; /* Xóa outline */
    box-shadow: none !important; /* Xóa shadow */
  }

  


/* homePage--content */
.homePage--content{
    @apply flex bg-white
}

/* navbar--content */
.navbar--content{
    @apply p-3 border-r h-screen fixed flex flex-col space-y-2
}


.navbar--content li{
    @apply cursor-pointer p-3 mt-2
}

/* searchPage--content */
.searchPage--content{
    @apply w-[400px] ml-[82px] h-screen rounded-r-xl shadow-lg border-r m-auto fixed bg-white
}

.text-title.border-active {
    border: 1px solid transparent;
    border-radius: 8px;
  }
  

  .navbar--content.w-20 .text-title.border-active {
    border-color: var(--colorSecondary); 
  }


  /* input--item */
  .input--item{
    @apply mt-6 w-full

  }

/* .searchPage--item{
    @apply fixed
} */

.searchResult{
    @apply mt-10
}
.searchPage--content .text--accent, .searchResult .text-subtitle{
    @apply p-4
} 

.searchPage--content .input--item{
    @apply px-4 mt-2
}

.searchResult .text--small--bold{
    @apply text-center
}


/* explore--content */
/* .explore--content {
    @apply w-[82%] h-auto border right-0 grid grid-cols-3 gap-4;
} */
.explore--mainContent{
    @apply w-[82%] h-auto border right-0 grid grid-cols-3 gap-4 ml-auto;
}
.explore--content img{
    @apply w-[500px] object-cover h-[500px]
}
.explore--item{
    @apply flex flex-col items-center relative cursor-pointer
}
.explore--item:hover .interaction--item{
    @apply opacity-100 ease-in duration-300
}
.explore--item:hover img{
    @apply opacity-75 ease-in duration-300
}
.interaction--item{
    @apply flex justify-center space-x-5 items-center
    absolute top-1/2 left-24
    text-white
    opacity-0
    z-10
   
}

.interaction--item i{
    @apply text-2xl
}
.like, .comment{
    @apply flex items-center space-x-2
}

.feed--content{
    @apply absolute w-[82%] h-full top-0 right-1 flex flex-col
}
.feed-main{
    @apply w-[95%] m-auto
}
.feed-head{
    @apply flex flex-row justify-between m-8 space-x-5
}
.pst--btn button{
    @apply px-40 p-6 text-base font-medium bg-neutral-50
}
.item--left{
    @apply flex flex-row justify-between items-center space-x-3
}
.head--icon{
    @apply font-bold
}

.feed-body{
    @apply flex flex-row space-x-10 justify-between w-[90%]  ml-auto
}

.bodyComp--content{
    @apply  w-[50%] mx-8 h-auto p-2  flex flex-col space-y-3 border-b
}

.bodyComp--header{
    @apply flex flex-row justify-between items-center
}
.user--area{
    @apply flex flex-row justify-between items-center space-x-3
}
.avt--user{
    @apply w-12 h-12 object-cover border-2 border-x-2 border-y-2 border-secondary rounded-full
}
.circle{
    @apply w-1 h-1 bg-secondary rounded-full
}


.suggestedComp--content{
    @apply  w-[32%] p-2 border
}


.post--detail{
    @apply text-xl cursor-pointer
}

.image--post{
    @apply w-[100%] h-[580px] object-cover rounded-md
}
.bodyComp--Interaction{
    @apply flex flex-row justify-between
}
.interac--item{
    @apply flex flex-row
}
.icon-interact{
    @apply hover:text-secondary text-2xl
}
/* .bodyComp--Desc{
    @apply leading-5
} */
.text-capt{
    @apply text-sm font-medium
}
.bodyComp--Desc p, .comment--list{
    @apply font-light text-sm text-justify
}
.bodyComp--Desc .btn-toggle-caption, .comment--list {
   
    background: none;
    border: none; 
    color: gray;
    cursor: pointer; 
    font-size: 14px;
    /* margin-left: 5px;  */
    
  }
  .bodyComp--Desc .btn-toggle-caption:hover{
    cursor: pointer;
  }
  .comment-input {
    width: 100%;
    margin-top: 5px;
    
    font-size: 14px;
    resize: none;
    overflow: hidden; 
  }
  
  .comment-input:focus {
    outline: none; 
   
  }
  
  .comment-input::placeholder {
    color: gray;  
  }
  .Authen--Content{
    @apply w-[70%] m-auto h-screen flex flex-row justify-between py-8
  }
  .loginContainer{
    @apply w-[100%] h-full border border-accent rounded-md p-8
  }
  .authen--item{
    @apply w-[100%] h-full
  }
  .loginContainer .logo{
    @apply text-center font-bold text-5xl
  }
  .loginInput{
    @apply flex flex-col items-center space-y-6 mt-7
  }
  .loginInput input, .signUpMainContent input{
    @apply w-[80%] border-b border-accent m-auto p-1
  }
  .loginInput input:focus, .signUpMainContent input:focus{
    outline: none;
  }
  .loginInput input::placeholder, .signUpMainContent input::placeholder{
    color: gray;
  }
  .loginInput button{
    @apply w-[80%] font-bold
  }
  .or{
    @apply flex justify-between w-[80%] h-auto space-x-3 items-center
  }
  .or hr{
    @apply w-[100%] bg-black
  }
  .forgot--pass{
    @apply ml-auto w-[90%] text-gray-700
  }
  .loginInput .loginWFb{
    @apply bg-white border-none p-0 font-semibold
  }
  .signUp, .signIn{
    @apply flex flex-row items-center justify-center w-full border w-[90%] p-5 space-x-2
  }
  .signUpLink, .signInLink{
    @apply font-semibold
  }
  .signUpContainer{
    @apply p-3
  }

  .signUpMainContent{
    @apply w-[40%] m-auto border rounded-sm h-auto flex flex-col space-y-6 items-center p-3
  }
  .signUpMainContent .logo{
    @apply font-bold text-5xl
  }
  .signUpMainContent .logo, .desTitle, .signUpMainContent button{
    @apply w-[80%] m-auto text-center
  }
  .desTitle{
    @apply text-center text-stone-500 font-normal
  }

 .signUpMainContent .turnLeft{
    @apply absolute top-5 left-[35%]
  }

.error{
  @apply text-red-700 w-[80%] text-sm text-justify
}
.successMessage{
  @apply text-green-700
}

 
  


  











